.hero-post-1 {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/posts/images/shawarma-2-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.img {
    flex: 1 1 40rem;
    background: url("/posts/images/shawarma-2-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }